/*font-family: "AvenirNextCyr-Bold";*/
@font-face {
	font-family: "AvenirNextCyr-Bold";
	src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.eot");
	src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.woff") format("woff"),
	url("../fonts/AvenirNextCyr/AvenirNextCyr-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/*font-family: "AvenirNextCyr-Demi";*/
@font-face {
	font-family: "AvenirNextCyr-Demi";
	src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Demi.eot");
	src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Demi.eot?#iefix") format("embedded-opentype"),
	url("../fonts/AvenirNextCyr/AvenirNextCyr-Demi.woff") format("woff"),
	url("../fonts/AvenirNextCyr/AvenirNextCyr-Demi.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/*font-family: "AvenirNextCyr-Regular";*/
@font-face {
	font-family: "AvenirNextCyr-Regular";
	src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot");
	src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"),
	url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.woff") format("woff"),
	url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/*font-family: "Lato-Black";*/
@font-face {
	font-family: "Lato-Black";
	src: url("../fonts/lato/latoblack.woff") format("woff"),
	url("../fonts/lato/latoblack.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/*font-family: "Roboto-Bold";*/
@font-face {
	font-family: "Roboto-Bold";
	src: url("../fonts/roboto/Robotobold.woff") format("woff"),
	url("../fonts/roboto/Robotobold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/*font-family: "AvenirNext-Bold";*/
@font-face {
	font-family: "AvenirNext-Bold";
	src: url("../fonts/AvenirNext/AvenirNext-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/*font-family: "MyriadPro-Regular";*/
@font-face {
	font-family: "MyriadPro-Regular";
	src: url("../fonts/MyriadPro/MyriadPro-Regular.eot");
	src: url("../fonts/MyriadPro/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"),
	url("../fonts/MyriadPro/MyriadPro-Regular.woff") format("woff"),
	url("../fonts/MyriadPro/MyriadPro-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}